.succesModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #1e4f73;
    border-radius: 10px;
    padding: 50px; /* Add some padding */
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Keep it hidden by default */
    max-width: 90%; /* Ensure it doesn't overflow on small screens */
    box-sizing: border-box; /* Include padding in width */
}

.succesModal__title{
    color: #000000;
    font-size: clamp(24px, 5vw, 32px); /* Responsive font size */
    text-align: center; /* Center text */
}