.register__modal{
    display: block;
    text-align: center;
}

.register__title{
    font-size: 32px;
    margin-bottom: 25px;
}

.register__description{
    font-size: 20px;

}

.register__inputs{
    display: block;
}

.register__inpus__item{
    margin-top: 16px;
}

.register__input{
    width: 400px;
    height: 48px;
    padding-left: 16px;
    background: none;
    border: 3px solid #266294;
    color: #266294;
}

.register__password__title{
    font-size: 24px;
}

.register__password__item:last-child{
    margin-top: 16px;
}