.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0;
    }
}