.new__backdrop {
    padding-top: 145px;
    background-color: #ebf8ff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  
  .close__button{
    position: absolute;
    font-size: 100px;
    top: 130px;
  
    background: none;
    border: none;
  }