.createform {
    padding-top: 80px;
    padding-bottom: 112px;
}

.createform__title {
    font-size: clamp(24px, 5vw, 32px);
    text-align: center;
}

.createform__list {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.createform__text {
    font-size: clamp(18px, 4vw, 24px);
    margin-bottom: 20px;
}

.createform__input {
    height: 48px;
    width: 100%;
    border: 3px solid #266294;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.createform__input::placeholder {
    color: #266294;
}


.createform__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.createform__button {
    flex: 1 1 auto;
    max-width: 123px;
    background: none;
    border: 3px solid #266294;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
}

.createform__button.active {
    background-color: #266294;
    color: #fff;
}

.createform__more {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.createform__more-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createform__more-span {
    font-size: clamp(16px, 3vw, 24px);
}

.createform__more-input {
    font-size: clamp(16px, 3vw, 24px);
    color: black;
    font-weight: bold;
    width: 60px;
    text-align: right;
    border: 1px solid #ccc;
    padding: 5px;
}

.createform__more-input::placeholder {
    color: black;
    font-weight: bold;
}

.createform__textarea {
    margin-top: 20px;
    border: 3px solid #266294;
    width: 100%;
    height: 100px;
    color: #266294;
    max-height: 126px;
    min-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

.createform__image-text {
    margin-bottom: 36px;
    color: #757575;
    font-size: clamp(14px, 2.5vw, 16px);
}

.createform__send{
    display: flex;
    margin-top: 36px;
    background-color: #266294;
    color: white;
    font-weight: bold;
    font-size: clamp(18px, 4vw, 24px);
    height: 52px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.createform__notreg{
    font-size: clamp(24px, 5vw, 32px);
    font-weight: bold;
    text-align: center;
    padding: 50px 15px;
}

@media (max-width: 480px) {
    .createform__buttons {
        flex-direction: column;
        align-items: center;
    }
    .createform__button {
        max-width: 100%;
    }
    .createform__more-input {
        width: 40px;
    }
}