.supereco {
    padding-bottom: 50px;
    padding-top: 50px;
}

.allannouncements__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.supereco__title {
    font-size: 24px;
}

.supereco__content {
    display: flex;
    align-items: center;
    margin-top: 84px;
}

.supereco__open {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #266294;
    border-bottom: 2px solid #266294;
    margin-left: auto;
}


.supereco__list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.supereco__item {
    max-width: 413px;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.supereco__image {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.supereco__name {
    margin-top: 12px;
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

.supereco__description {
    color: #766F6F;
    margin-left: 12px;
    font-size: 16px;
}

.supereco__id {
    color: #266294;
    margin-left: 12px;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}


.supereco__favorite {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #266294;
    font-size: 24px;
    background: none;
    border: none;
    padding: 0;
}

@media (max-width: 1200px) {
    .supereco__item {
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .allannouncements__title {
        font-size: 30px;
    }
    .supereco__item {
        max-width: 90%;
    }
    .supereco__image {
        height: 200px;
    }
    .supereco__name {
        font-size: 18px;
    }
    .supereco__description {
        font-size: 14px;
    }
    .supereco__id {
        font-size: 12px;
    }
    .supereco__favorite {
        font-size: 20px;
        bottom: 8px;
        right: 8px;
    }
}

@media (max-width: 480px) {
    .allannouncements__title {
        font-size: 24px;
    }
    .supereco__list {
        gap: 15px;
    }
    .supereco__item {
        max-width: 100%;
    }
    .supereco__image {
        height: 180px;
    }
}