.country {
    padding-top: 32px;
    padding-bottom: 46px;
}

.country__list {
    display: flex;
    gap: 20px;
}

.country__name {
    font-size: 32px;
    margin-bottom: 24px;
}

.country__section-title {
    font-size: 32px;
    margin-bottom: 24px;
}

.country__title {
    font-weight: bold;
}

.country__votes {
    font-weight: bold;
}

.country__image {
    width: 100%;
    max-width: 413px;
    height: auto;
    margin-bottom: 16px;
}

.country + .country {
  margin-top: 40px;
}


@media (max-width: 1199px) {
    .country__section-title {
        text-align: center;
    }

    .country__name{
        text-align: center;
    }

    .country__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .country__item {
        width: 100%;
        max-width: 345px;
    }
}