.country {
    padding-top: 32px;
    padding-bottom: 46px;
}

.country__list {
    display: flex;
    gap: 20px;
}

.country__name {
    font-size: 32px;
    margin-bottom: 24px;
}

.country__section-title {
    font-size: 32px;
    margin-bottom: 24px;
}

.country__title {
    font-weight: bold;
}

.country__votes {
    font-weight: bold;
}

.country__image {
    width: 100%; /* Make image responsive */
    max-width: 413px; /* Limit max width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 16px;
}

.country + .country {
  margin-top: 40px;
}


@media (max-width: 1199px) { /* Covers all screens up to 1199px */
    .country__section-title {
        text-align: center;
    }

    .country__name{
        text-align: center;
    }

    .country__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .country__item {
        width: 100%; /* Take full width of parent */
        max-width: 345px; /* Limit max width of item */
    }
}
