.criteria {
    padding-top: 52px;
    padding-bottom: 68px;
}

.criteria__title {
    color: #111111;
    font-size: 40px;
    margin-bottom: 32px;
    text-align: center;
}

.criteria__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 32px;
}

.criteria__item {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.criteria__image {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.criteria__description {
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .criteria__title {
        font-size: 32px;
    }

    .criteria__list {
        gap: 15px;
    }

    .criteria__item {
        max-width: 180px;
    }

    .criteria__image {
        max-width: 100px;
    }

    .criteria__description {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .criteria__title {
        font-size: 28px;
    }

    .criteria__list {
        gap: 10px;
    }

    .criteria__item {
        max-width: 140px;
    }

    .criteria__image {
        max-width: 80px;
    }

    .criteria__description {
        font-size: 18px;
    }
}