.criteria {
    padding-top: 52px;
    padding-bottom: 68px;
}

.criteria__title {
    color: #111111;
    font-size: 40px;
    margin-bottom: 32px;
}

.criteria__list {
    display: flex;
    width: 100%;
    gap: 20px;
}

.criteria__description {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 1199px) {

    .criteria__title{
        text-align: center;
    }

    .criteria__list {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 32px;

    }

    .criteria__item {
        max-width: 345px;
        width: 100%;
    }
}