.announcement{
    padding-bottom: 150px;
}

.announcement__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 32px;
}

.announcement__item{
    max-width: 413px;
}

.announcement__title-section{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

.announcement__image{
    margin-bottom: 12px;
    width: 413px;
    height: 300px;
    object-fit: cover;

}



@media (min-width: 320px) and (max-width: 1199px) {

    .announcement__title-section{
        text-align: center;
    }
   .announcement__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

   .announcement__item{
    max-width: 345px;
   }
}