.announcement{
    padding-bottom: 150px;
}

.announcement__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}

.announcement__item{
    max-width: 413px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.announcement__title-section{
    font-size: clamp(32px, 5vw, 40px);
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
}

.announcement__image{
    margin-bottom: 12px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.announcement__title {
    font-size: clamp(18px, 3vw, 24px);
    font-weight: bold;
    padding: 0 12px 12px;
}


@media (max-width: 1200px) {
    .announcement__item {
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .announcement__title-section {
        font-size: 30px;
    }
    .announcement__item {
        max-width: 90%;
    }
    .announcement__image {
        height: 200px;
    }
    .announcement__title {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .announcement__title-section {
        font-size: 24px;
    }
    .announcement__list {
        gap: 15px;
    }
    .announcement__item {
        max-width: 100%;
    }
    .announcement__image {
        height: 180px;
    }
}